<div class="container">
  <form>
    <div class="form-group">
      <label for="feedback">Item Feedback</label>
      {{input id="feedback" value=feedback}}
    </div>
    <div class="form-group">
      <label for="rating">Item rating (1 to 5)</label>
      {{input id="rating" value=rating}}
    </div>
    <button {{action 'rateItem1' item}}>Rate!!!</button>
  </form>
</div>
